@charset "UTF-8";

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-Bold.woff2") format("woff2"),
    url("/fonts/SourceCodePro-Bold.woff") format("woff"),
    url("/fonts/SourceCodePro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-Italic.woff2") format("woff2"),
    url("/fonts/SourceCodePro-Italic.woff") format("woff"),
    url("/fonts/SourceCodePro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-BoldItalic.woff2") format("woff2"),
    url("/fonts/SourceCodePro-BoldItalic.woff") format("woff"),
    url("/fonts/SourceCodePro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("/fonts/SourceCodePro-Regular.woff") format("woff"),
    url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-bg-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-bg-color: #263238;
    --secondary-text-color: #fafafa;
    --link-color: #b2ebf2;
    --link-active-color: #e1f5fe;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Code Pro", monospace;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

img.avatar {
    width: 16px;
    height: 16px;
}

a:hover {
    color: var(--link-active-color);
    text-shadow: 2px 2px var(--secondary-bg-color);
}

button {
    border: 1px solid var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    padding: 3px 1em;
}

button:active {
    background-color: var(--secondary-text-color);
    color: var(--secondary-bg-color);
}

header {
    border-bottom: 1px dashed var(--secondary-text-color);
    margin-bottom: 1em;
    overflow: auto;
}

header h1 {
    float: left;
    margin: 0;
}

nav#top {
    float: right;
}

nav#top ul {
    margin: 0;
}

nav#top li {
    list-style: none;
    display: inline;
    padding: 1em;
}

footer {
    text-align: center;
    border-top: 1px dashed var(--secondary-text-color);
    margin-top: 1em;
}

main {
    display: -webkit-flex;
    display: flex;
}

nav#apps {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-right: 1px dashed var(--secondary-text-color);
}

section#content {
    padding: 1em;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

article#screenshots img {
    max-width: 300px;
    max-height: 200px;
    border: 1px solid var(--primary-text-color);
}

article#files pre {
    border: 1px solid var(--primary-text-color);
    padding: 1em;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 1em;
}

dialog {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--primary-text-color);
}

dialog header {
    padding-bottom: 1em;
}

dialog footer {
    padding-top: 1em;
}

dialog header button {
    float: right;
}

dialog footer button {
    text-align: center;
}

@media (max-width: 600px) {
    main {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
